

/*
 * Login and register
 */
.login-title, .register-title{ 
	font-weight: bold; 
	float:left	
}

div.page-header {
	background-image: url('http://local.comics/img/covers_.jpg');
	height: 300px;
	margin: 15px 0 20px;
}


.comic-icon { height: 40px; }

.profile {
    min-height: 355px;
    display: inline-block;
}


.col-centered{
    float: none;
    margin: 0 auto;
}

#footer_content { background-color: #eee; }

.box {
	display: inline-block;
	width: 30%;
}

.box.navigation { 
	float: left; 
	border-right: 1px solid #000000;
	text-align: center;
}

.box.contact-box { 	
	border-right: 1px solid #000000; 
	text-align: center;
}

.box.social_network { 
	float: right;  
	text-align: center;
}

.box li { list-style: none; }
