


div.page-header {
	background-image: url('http://local.comics/img/covers_.jpg');
	height: 300px;
	margin: 15px 0 20px;
}


.comic-icon { height: 40px; }

.profile {
    min-height: 355px;
    display: inline-block;
}


.col-centered{
    float: none;
    margin: 0 auto;
}