

/*
 * LOGIN AND REGISTER VIEW
 */
.login-title, .register-title{ 
	font-weight: bold; 
	float:left	
}


#login-form, #register-form { position: fixed; }

#register-form {
	top: 10%;
	left: 40%;
}

#login-form {
	top:  25%;
	left: 40%;
}
/*
 *  HOME VIEW
 */

div.page-header {
	background-image: url('/img/covers_.jpg');
	height: 300px;
	margin: 15px 0 20px;
}


/*
 * NAVBAR
 */
.navbar-collapse.collapse, .input-group, .nav.navbar-nav.navbar-right { display: inline-block; }

.dropdown-toggle span.glyphicon.glyphicon-user { float: left; padding-right: 5px }

span.glyphicon.glyphicon-dashboard, span.glyphicon.glyphicon-off, span.glyphicon.glyphicon-user { float: right; }

.input-group-btn { width: 80px; }

.input-group { margin-top: 10px; }

.comic-icon { height: 40px; }

.profile {
    min-height: 355px;
    display: inline-block;
}


.col-centered {
    float: none;
    margin: 0 auto;
}

/*
 *  COMIC TABLE
 */
.table.table-hover tr:hover { color: #000000; }


/*
 * SIDEBAR SECTION
 */
.jumbotron.sidebar ul li { 
	list-style: none; 
	text-align: left;
}

#sidebar_content { float: right; }

.sidebar h4 { text-align: center; }

.jumbotron.sidebar ul {
	width: 200px;
	padding: 10px;
	height: 104px;
}

/*
 *  FOOTER SECTION
 */

#footer_content { width: 1140px; }
#footer_content .col-md-12 { background-color: #eee; }

.box {
	display: inline-block;
	width: 33%;
}

.box.navigation { 
	float: left; 
	text-align: center;
}

.box.contact-box { 	
	border-right: 1px solid #8BA68E; 
	text-align: center;
	border-left: 1px solid #8BA68E;
}

.box.social_network { 
	float: right;  
	text-align: center;
}

.box li { list-style: none; display: inline-block; }

.box ul { padding-left: 0; }

/*
 *  SOCIAL NETWORK::SPRITE
 */
.box.social_network ul li {
	width: 70px;
	height: 55px;
}

.box.social_network .fbk {
	display: block;
	width: 65px;
	height: 65px;
	background-image: url('/img/sn_icon/social_icons_sprite.png');
	background-position: 705px 0px;
}

.box.social_network .fbk:hover {
	background-image: url('/img/sn_icon/social_icons_sprite.png');
	background-position: 705px -65px;
}

.box.social_network .twt {
	display: block;
	width: 65px;
	height: 65px;
	background-image: url('/img/sn_icon/social_icons_sprite.png');
	background-position: 320px 0px;
}

.box.social_network .twt:hover {
	background-image: url('/img/sn_icon/social_icons_sprite.png');
	background-position: 320px -65px;
}

.box.social_network .lkn {
	display: block;
	width: 65px;
	height: 65px;
	background-image: url('/img/sn_icon/social_icons_sprite.png');
	background-position: 128px 0px;
}

.box.social_network .lkn:hover{
	background-image: url('/img/sn_icon/social_icons_sprite.png');
	background-position: 128px -65px;	
}
.box.social_network .youtube {
	display: block;
	width: 65px;
	height: 65px;
	background-image: url('/img/sn_icon/social_icons_sprite.png');
	background-position: 575px 0px; 
}

.box.social_network .youtube:hover {
	background-image: url('/img/sn_icon/social_icons_sprite.png');
	background-position: 575px -65px; 
}

.box.social_network .gplus {
	display: block;
	width: 65px;
	height: 65px;
	background-image: url('/img/sn_icon/social_icons_sprite.png');
	background-position: 450px 0px;
}

.box.social_network .gplus:hover {
	background-image: url('/img/sn_icon/social_icons_sprite.png');
	background-position: 450px -65px;
}

